<footer class="d-flex flex-column bg-dark text-white align-items-center">
    <div class="d-flex flex-column flex-md-row justify-content-md-between container-fluid container-md">
        <div class="align-self-center">
            <h3>Navigation :</h3><br>
            <ul>
                <li><a>Accueil</a></li>
                <li><a>Tricks</a></li>
                <li><a>Se connecter</a></li>
            </ul>
        </div>
        <div class="align-self-center">
            <h3>Informations sur le site :</h3><br>
            <ul>
                <li><a>Mentions légales</a></li>
                <li><a>Politique de confidentialité</a></li>
                <li><a>Gestion des cookies</a></li>
            </ul>
        </div>
        <div class="align-self-center">
            <h3>Suivez-nous :</h3><br>
            <div class="d-flex justify-content-evenly">
                <a href="#">
                    <i class="fa-brands fa-facebook text-white fs-1"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-square-instagram text-white fs-1"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-square-snapchat text-white fs-1"></i>
                </a>
            </div>
        </div>
    </div>
    <hr class="bg-white w-100">
    <div class="align-self-center">© Snowtricks - Copyright 2023 - Tous droits réservés</div>
</footer>
