body {
  padding: 0;
  margin: 0;
}

/************** ACCUEIL *****************/

#liste-tricks-accueil {
  margin: 30px;
}

.card-home-trick {
  width: 325px;
  height: 375px;
}

.img-trick-home {
  width: 100px;
  height: 300px;
}

/************* TRICk ****************/
.div-img-video-trick {
  overflow-x: auto;
  height: 380px;
}

.div-img-video-trick img,
.div-img-video-trick .div-video-trick {
  width: 450px;
  height: 250px;
}

.comment-trick > div:nth-child(2) {
  width: 300px;
}

.div-comment-trick {
  width: 100%;
}

#comment,
#trick {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#comment div:nth-child(1),
#trick div {
  display: flex;
  flex-direction: column;
}

#comment_Ajouter {
  margin-top: 10px;
  background-color: #343a40;
  padding: 10px;
  color: white;
  width: 100%;
}

.div_form_illustrations_update,
.div_form_videos_update {
  display: none;
}

.form_illustrations_update,
.form_videos_update {
  width: 425px;
}

@media screen and (min-width: 768px) {
  /************* ACCUEIL ****************/

  .img-trick-home {
    width: 100px;
    height: 250px;
  }

  .card-home-trick {
    height: 325px;
    width: 250px;
  }

  /************* TRICk ****************/
  form[name="comment"],
  form[name="trick"] {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  form[name="trick"] > div {
    align-self: center;
    margin-top: 15px;
  }

  #comment,
  #trick {
    width: 500px;
  }
  .comment-trick > div:nth-child(2) {
    width: auto;
  }
  .div-comment-trick {
    width: 500px;
  }
}
