{% extends 'base.html.twig' %}
{% block title %}
    Page non trouvée
{% endblock %}

{% block body %}
    <section class="m-5 bg-danger text-white p-5">
        <h1 class="fw-bold">Page non trouvée</h1>

        <p>Cette page n'existe pas, veuillez vérifier votre URL ou
            <a class="text-white" href="{{ path('home') }}">Retour à l'accueil</a>.
        </p>
    </section>
    <br><br><br><br><br>
{% endblock %}
